USE [master]
GO
/****** Object:  Database [SHA256HashDataBase]    Script Date: 2022/5/5 下午 08:52:17 ******/
CREATE DATABASE [SHA256HashDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHA256HashDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SHA256HashDataBase.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SHA256HashDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SHA256HashDataBase_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHA256HashDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHA256HashDataBase]
GO
/****** Object:  Table [dbo].[MiningData]    Script Date: 2022/5/5 下午 08:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiningData](
	[No] [int] NULL,
	[Nonce] [int] NULL,
	[Times] [text] NULL,
	[Data] [text] NULL,
	[PreviousHash] [text] NULL,
	[Hash] [text] NULL,
	[Difficulty] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
